.header  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: monospace;
  background: papayawhip;
  padding: 12px 0px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  display: flex;
  gap: 12px;
  padding: 8px;
  margin: 0;
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

/* This is redundant when we have justify-content: space-between in the .header */
/*.left-links {
  margin-right: auto;
}

.right-links {
  margin-left: auto;
}*/